@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/poppins.ttf");
}

@font-face {
  font-family: "orange";
  src: url("./assets/fonts/orange_juice.ttf");
}

:root {
  --drop-shadow: #00000021;
  --border: #e7e7e7;
  --primary: #FEBA00;
  --secondary: #814E44;
  --placeholder: #727272;
  --page-button: #FFF3D1;
  --page-button-border: #FCE9B3;
  --doc-file: #BFD4E5;
  --txt-file: #f48a80;
  --pdf-file: #FBC69E;
}

body,
input,
button {
  font-family: "poppins";
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

#root {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

#root header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  -webkit-box-shadow: 0 1px 2px 3px var(--drop-shadow);
          box-shadow: 0 1px 2px 3px var(--drop-shadow);
  padding: 0 6em;
}

#root header .logo {
  display: inherit;
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root header .logo .logo__image {
  width: 6.5em;
}

#root header .logo .logo__text {
  font-family: "orange";
  font-size: 3em;
}

#root header .logo .logo__text .primo {
  color: var(--primary);
}

#root header .logo .logo__text .second {
  color: var(--secondary);
  text-transform: uppercase;
}

#root header .menu {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4em;
          column-gap: 4em;
}

#root header .menu .menu__item {
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  height: 100%;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  cursor: pointer;
}

#root header .menu .menu__item .image {
  width: 1.75em;
}

#root header .menu .menu__item:hover {
  -webkit-transform: translateY(0.35em);
          transform: translateY(0.35em);
}

#root section {
  padding: 6em;
  padding-top: 3em;
  padding-bottom: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

#root section .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0;
          column-gap: 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root section .search form .search__input {
  padding: .5em 1.5em;
  border: 1px solid var(--border);
  border-right: none;
  border-radius: 50em 0 0 50em;
  outline: none;
  -webkit-transition: border-color 200ms;
  transition: border-color 200ms;
  width: 50%;
}

#root section .search form .search__input:focus {
  border-color: var(--secondary);
}

#root section .search form .search__input::-webkit-input-placeholder {
  color: var(--placeholder);
}

#root section .search form .search__input:-ms-input-placeholder {
  color: var(--placeholder);
}

#root section .search form .search__input::-ms-input-placeholder {
  color: var(--placeholder);
}

#root section .search form .search__input::placeholder {
  color: var(--placeholder);
}

#root section .search form .search__button {
  padding: .5em 1.5em;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#92645b), to(#552f27));
  background-image: linear-gradient(to bottom right, #92645b, #552f27);
  border: 1px solid #552f27;
  border-radius: 0 50em 50em 0;
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  cursor: pointer;
  -webkit-transition: border-color 200ms;
  transition: border-color 200ms;
}

#root section .search form .search__button .icon {
  width: 1.5em;
}

#root section .search form .search__button .text {
  color: #ffffff;
}

#root section .search form .search__button:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a37f78), to(#784d44));
  background-image: linear-gradient(to bottom right, #a37f78, #784d44);
  border-color: #886058;
}

#root section .result {
  border: 1px solid var(--border);
  border-radius: 1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  margin-top: 2em;
}

#root section .result .result__header,
#root section .result .result__body {
  padding: 1em 2em;
}

#root section .result .result__header {
  border-bottom: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

#root section .result .result__header .title {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root section .result .result__header .title .title__icon {
  width: 2em;
  margin: 0;
  margin-right: 1em;
}

#root section .result .result__header .title .title__text {
  margin: 0;
}

#root section .result .result__header .control {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root section .result .result__header .control .page__indicator {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid var(--border);
}

#root section .result .result__header .control .page__indicator .page__indicator__previous,
#root section .result .result__header .control .page__indicator .page__indicator__next {
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2em;
  height: 2em;
  background-color: var(--page-button);
  border: 1px solid var(--page-button-border);
  border-radius: 6px;
  margin: 0 .5em;
  cursor: pointer;
  -webkit-transition: background-color 200ms, -webkit-transform 200ms;
  transition: background-color 200ms, -webkit-transform 200ms;
  transition: transform 200ms, background-color 200ms;
  transition: transform 200ms, background-color 200ms, -webkit-transform 200ms;
}

#root section .result .result__header .control .page__indicator .page__indicator__previous .page__icon,
#root section .result .result__header .control .page__indicator .page__indicator__next .page__icon {
  width: 1em;
}

#root section .result .result__header .control .page__indicator .page__indicator__previous:hover,
#root section .result .result__header .control .page__indicator .page__indicator__next:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #fff8e5;
}

#root section .result .result__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 1em;
}

#root section .result .result__body .result__body__item {
  border-radius: 6px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1px 1px 2px 1px #00000013;
          box-shadow: 1px 1px 2px 1px #00000013;
  -webkit-transition: -webkit-transform 200ms, -webkit-box-shadow 200ms;
  transition: -webkit-transform 200ms, -webkit-box-shadow 200ms;
  transition: transform 200ms, box-shadow 200ms;
  transition: transform 200ms, box-shadow 200ms, -webkit-transform 200ms, -webkit-box-shadow 200ms;
  cursor: pointer;
}

#root section .result .result__body .result__body__item .file__icon {
  width: 8em;
  height: 8em;
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root section .result .result__body .result__body__item .file__icon .icon {
  width: 4em;
}

#root section .result .result__body .result__body__item .file__info {
  padding: 0 2em;
}

#root section .result .result__body .result__body__item .file__info .name {
  font-size: 12px;
}

#root section .result .result__body .result__body__item .file__info .date,
#root section .result .result__body .result__body__item .file__info .size {
  color: var(--placeholder);
}

#root section .result .result__body .result__body__item:hover {
  -webkit-transform: translateY(0.5em);
          transform: translateY(0.5em);
}

#root section .result .result__body .result__body__item.doc:hover {
  -webkit-box-shadow: 1px 1px 2px 1px #048FFF;
          box-shadow: 1px 1px 2px 1px #048FFF;
}

#root section .result .result__body .result__body__item.txt:hover {
  -webkit-box-shadow: 1px 1px 2px 1px #F35244;
          box-shadow: 1px 1px 2px 1px #F35244;
}

#root section .result .result__body .result__body__item.pdf:hover {
  -webkit-box-shadow: 1px 1px 2px 1px #FF8A31;
          box-shadow: 1px 1px 2px 1px #FF8A31;
}

#root section .result .result__body .result__body__item.doc .file__icon {
  background-color: var(--doc-file);
}

#root section .result .result__body .result__body__item.txt .file__icon {
  background-color: var(--txt-file);
}

#root section .result .result__body .result__body__item.pdf .file__icon {
  background-color: var(--pdf-file);
}
/*# sourceMappingURL=index.css.map */